<markdown>
# Level 1 Header (H1)
## Level 2 Header (H2)
##### Level 5 Header (H5)

One or more consecutive lines of text
separated by one or more blank lines.
 
This is another paragraph.

I am a sentence with  
a line break.


* Red
* Green
* Blue

+ Red
+ Green
+ Blue

- Red
- Green
- Blue

Term  
: Definition

Apple  
: Pomaceous fruit of plants of the genus Malus.
: An american computer company.

Term 1  
Term 2  
: Definition

I am *emphasized*

I am _emphasized_

I am **bold**

I am __bold__

This is [an example](http://example.com/ "Optional Title")
inline link.

<http://example.com/>

</markdown>​